li{
    list-style: none;
}

body{
    h3{
        font-family: 'Inter';
        background: var(--gradients-title, linear-gradient(92deg, #FFF 29.24%, rgba(176, 250, 255, 0.00) 131.64%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p{
        color: #FFF;
        font-size: 18px;
        line-height: 32px;
    }
    button{
        color: #FFF;
        padding: 16px 32px;
        border-radius: 12px;
        background: var(--accent, #1D9A6D);
        box-shadow: 0px 8px 16px 0px rgba(75, 72, 241, 0.411);
        border: none;
    }
}


.svg-btc{
    margin-top: 13px;
    margin-bottom: 13px;
    padding-left: 173px;
    padding-right: 15px;
}
.margin-block{
    margin-left: 190px;
}
.nav-svg{
    margin: 15px 0px;
    padding: 7px 14px 7px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.text-white-js{
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #969696;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


.hero{
    background: var(--gradients-main-bg, linear-gradient(358deg, #0C111C 9.12%, rgba(0, 27, 102, 0.4) 81.22%), url(./images/Rectangle.png), lightgray -30px 0px / 104.167% 117.955% no-repeat);
    .container-btc{
    padding-left: 165px;
    color: #fff;
    }
    .title {
        
        h1{
        font-size: 56px;
        line-height: 61px;
        padding-top: 207px;
        background: var(--gradients-title, linear-gradient(92deg, #FFF 29.24%, rgba(176, 250, 255, 0.00) 131.64%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
        p{
            padding-bottom: 215px;
            width: 567px;
        }

    .hero-planet{
        width: 749px;
        height: 900px;
        background: url(./images/planet.png), lightgray 0px -111.427px / 201.582% 167.665% no-repeat;
        div{
            background: url(./images/coin-btc.png), lightgray 50% / cover no-repeat;
        }
    }

    }
    .card-hero{
        .col-4{
            .card-border{
                border-radius: 8px;
                background: var(--dark-input, #151822);
                padding: 30px 50px 152px 30px;
                div{
                    
                    .title-paragrapf{
                        font-size: 18px;
                        line-height: 32px;
                    }
                    h3{
                        font-size: 32px;
                            line-height: 109.1%;
                    }
                    .paragrapf{
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 0%;
                        width: 269px;
                    }
                }
                
            }
            button{
                
            }
            &:first-child{
                margin-top: 60px;
                border-radius: 8px;
                opacity: 0.5;
                background: var(--dark-input, #151822);
                filter: blur(2px);
            }
            &:last-child{
                margin-top: 60px;
                border-radius: 8px;
                opacity: 0.5;
                background: var(--dark-input, #151822);
                filter: blur(2px);
                
            }
        }
    }
}

.rig-lef-btn{
    margin: 18px;
}

.btn-right-left{
    border: none;
    border-radius: 50%;
    background-color: #0C111C;
    box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.59);
}

.wallet-and-instruments{
    padding-left: 165px;
    padding-top: 127px;
    padding-bottom: 129px;
    background: url(./images/Rectangle-2.png);
    .wallet-screen{
        background-image: url(./images/screen.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    h3{
        width: 351px;
        font-family: 'Inter';
        font-size: 42px;
        line-height: 43px;
        background: var(--gradients-title, linear-gradient(92deg, #FFF 29.24%, rgba(176, 250, 255, 0.00) 131.64%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 16px;
    }
    p{
        color: var(--white-white, #FFF);
        width: 420px;
        font-size: 18px;
        line-height: 32px; 
        margin-bottom: 40px;
    }
    ul{
        gap: 24px;
        padding-left: 0;
        padding-bottom: 34px;
    }
    button{
        border: 1px solid;
        color: var(--blue-second, #8886FF);
        font-size: 16px;
        line-height: normal;
        padding: 16px 32px;
        border-radius: 12px;
        background: var(--blue-opacity-15, rgba(98, 127, 227, 0.15));
        box-shadow: 0px 8px 16px 0px rgba(75, 72, 241, 0.19);
    
    }
    .iphone-img{
        right: 166px;
        border-radius: 10%;
        padding-bottom: 94px    ;
    }
}

.ready-container{
    background: var(--dark-bg, #0D111B);
    padding: 128px 150px 30px 150px;
    h3{
        padding-bottom: 73px;
    }
    &::before{
            content: 'Ready?';
            font-weight: bolder;
            font-size: 180px;
            line-height:1%;
            position: relative;
            background: linear-gradient(92deg, rgba(255, 255, 255, 0.05) 29.24%, rgba(176, 250, 255, 0.00) 131.64%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            left: 288px;
        }
    .ready-title{
        text-align: center;
        padding-bottom: 70px;
        
    }
    .card{
        border-radius: 8px;
        background: var(--dark-input, #151822);
        p::after{
            display: flex;
            position: absolute;
            content: "";
            width: 260px;
            height: 1px;
            background: rgba(255, 255, 255, 0.10);
            top: 34px;
            right: 0;
        }
        .card-body {
    h3 {
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
        }

        &:last-child::after {
            content: url(./images/imagecard3.png);
        }

        &:first-child::after {
            content: url(./images/imagecard1.png);
        }
    }
}
    }
}

.bg-gradient-ready{
    background: linear-gradient(-45deg, #000c35, #501350, #0d3b4d,);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
